/*=======================*\
    #School list
\*=======================*/

.schoolList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 1rem;
}

.school {
    width: 1;
    text-align: center;
}
.logo {
    display: inline-block;
    margin: 0.4rem 0;

    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin: 0.5rem 0;
}
