@import "../../styles/variables.css";

/* Download Button */
.resume {

    &__btn-holder {
        display: flex;
        justify-content: center;
        margin: 5rem 0 4rem;
    }

    &__download {
        display: inline-block;
        font-size: 2rem;
    }
}