/*=======================*\
    #Home
\*=======================*/

.sectionHeader {
    margin: 1.8rem 0 1.5rem;

    font-size: 2rem;
    text-align: center;
}

.home__link {
    padding: 0 1rem;
    margin-right: auto;

    color: var(--lowlight);
    font-size: 0.9rem;
    text-align: right;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

/*=======================*\
    #Welcome
\*=======================*/

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2rem;

    width: 100%;
    max-width: 700px;
    font-size: 1.2rem;

    &__img {
        width: 40%;
        border-radius: 5px;
    }

    /*-----------------------------*\
        #Welcome Message
    \*-----------------------------*/

    &__chatbox {
        width: 95%;
        margin: 1rem 0;
    }

    &__name-tag {
        display: inline-block;
        padding: 0.5rem 1.4rem;
        margin-left: 20px;
        margin-bottom: -0.7rem;

        background-color: var(--secondary);
        border-radius: 4px;
    }

    &__message {
        padding: 1.4rem 0.8rem 4rem;
        background-color: var(--primary);

        width: 100%;

        border-radius: 4px;
    }

    /*-----------------------------*\
        #Contact
    \*-----------------------------*/

    &__contact-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0.2rem 0.4rem;
    }

    &__contact-info-link {
        margin-right: auto;
        color: var(--lowlight);
        font-size: 0.8rem;

        &:hover {
            cursor: pointer;
        }

        &:after {
            content: "davidc4747\00a9yahoo.com";
        }
    }

    &__social {
        padding: 0;
        margin: 0.3rem 0;
        list-style-type: none;
        font-size: 1.2rem;

        display: flex;
        width: 100%;
    }

    &__social-item {
        display: flex;
        align-items: center;

        margin: 0 0.4rem;
        padding: 0.3rem;
        transition: color 0.2s ease-out;

        &:hover {
            cursor: pointer;
            color: var(--primary);
        }
    }
}

/* Phone layout */
@media (max-width: 610px) {
    .welcome__contact-info-link {
        &:after {
            content: "davidc4747";
        }
    }
}
@media (max-width: 480px) {
    .welcome__social {
        justify-content: center;
    }

    .welcome__contact-info-link {
        display: flex;
        align-items: center;

        margin: 0 0.4rem;
        padding: 0.3rem;
        transition: color 0.2s ease-out;

        font-size: 1rem;
        color: var(--white);

        &:hover {
            cursor: pointer;
            color: var(--primary);
        }

        &:after {
            content: "";
        }
    }
}

/*=======================*\
    #Home Nav
\*=======================*/

.home-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 2rem;
    justify-content: center;

    width: 100%;

    margin: 4rem 0;
    padding: 0;
    list-style-type: none;

    &__icon {
        margin: 1rem;
        font-size: 2rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 1.3rem;
        background-color: var(--primary);
        font-size: 1.2rem;

        border-radius: 4px;
        box-shadow: 16px 16px 1rem rgba(0, 0, 0, 0.1);

        transition:
            transform 0.2s ease-out,
            background-color 0.2s ease-out;

        &:hover {
            cursor: pointer;
            background-color: var(--secondary);
            transform: scale(1.05);
        }
    }
}

/*=======================*\
    #Download Button
\*=======================*/

.downloadContainer {
    display: flex;
    justify-content: center;
    margin: 5rem 0 5rem;
}

.download {
    display: inline-block;
    font-size: 2rem;

    color: var(--white);
    background-color: var(--highlight);

    &:hover {
        color: var(--white);
        background-color: var(--highlight);
        transform: scale(1.05);
    }
}

/*=======================*\
    #Footer
\*=======================*/

.footer {
    margin-top: 4rem;
    border-top: 1px solid var(--black);
    background-color: var(--primary);
    min-height: 4rem;
}
