/*=======================*\
    #Home
\*=======================*/

.sectionHeader {
    margin: 1.8rem 0 1.5rem;

    font-size: 2rem;
    text-align: center;
}

/*=======================*\
    #Download Button
\*=======================*/

.downloadContainer {
    display: flex;
    justify-content: center;
    margin: 5rem 0 5rem;
}

.download {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    border-radius: 5px;

    color: var(--grayscale-0);
    background-color: var(--highlight);

    font-size: 2rem;
    transition: scale 250ms ease-out;

    &:hover {
        scale: 1.05;
    }
}

/*=======================*\
    #Footer
\*=======================*/

.footer {
    margin-top: 4rem;
    border-top: 1px solid var(--black);
    background-color: var(--primary);
    min-height: 4rem;
}
