
@import "../../styles/variables.css";

/*=======================*\
    #Portfolio
\*=======================*/

.portfolio {
    // display: flex;

    @media(min-width: 900px) {
        width: 70%;
        margin: 0 auto;
    }
}





/*=======================*\
    #Project
\*=======================*/

.project-list {
    display: flex;
    flex-wrap: wrap;


    width: 100%;
}

.project {
    margin: 0.4rem;
    padding: 0.2rem 0.3rem 0.4rem;

    width: 23%;

    border-radius: 3px;
    text-align: center;
    background-color: var(--grey);



    &__carousel {
        width: 100%;
    }



    &__title {
        margin: 0.5rem 0;
    }
    &__sub-title {
        font-weight: normal;
        font-style: italic;
    }
}




/*=======================*\
    #Overlay
\*=======================*/

.overlay {
    opacity: 0.8;
    background-color: #fff;
}

.overlay-box {
}