
/*=======================*\
    #Portfolio
\*=======================*/

.portfolio {
    display: flex;
}





/*=======================*\
    #Project
\*=======================*/

.project {

}




/*=======================*\
    #Overlay
\*=======================*/

.overlay {
    opacity: 0.8;
    background-color: #fff;
}

.overlay-box{

}