/*=======================*\
    #Project Preview
\*=======================*/

.projectList {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    align-items: center;
    justify-content: space-between;

    padding: 0;
    list-style-type: none;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

/* ------------------------ *\
    # Body 
\* ------------------------ */

.title {
}

.thumbnail {
    width: 100%;

    object-fit: contain;
    background-color: var(--primary);
    border-radius: 4px;
}

.link {
    align-self: end;

    &:hover {
        cursor: pointer;
    }
}
