
/*=======================*\
    #General Styling
\*=======================*/

#root {
    width: 70%;
    margin: 0 auto;
}





/*=======================*\
    #Helper classes
\*=======================*/

.list-unstyled {
    list-style-type: none;
}

.icon {
    margin: 0.4rem 0.3rem;
}

.title {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.4rem 0;
    border-bottom: 1px solid var(--grey);

    color: var(--highlight);
    text-align: center;
}