

/*=======================*\
    #Form
\*=======================*/

.btn {
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.btn--primary {
    color: var(--white);
    background-color: var(--primary);

    &:hover {
        color: var(--white);
        background-color: var(--secondary);        
    }
}





/*=======================*\
    #Helper classes
\*=======================*/

.highlight {
    color: var(--highlight);
}

.list-unstyled {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

.icon {
    margin: 0.4rem 0.3rem;
}



.page-header {
    padding: 0.4rem 0;
    margin: 1rem 3%;
    font-size: 2.8rem;
    text-align: center;
}

.page-container {   

    width: 95%;
    max-width: 1000px;
}

.title {
    margin: 1rem 0;
    padding: 0.4rem 0;
    border-bottom: 1px solid var(--primary);

    color: var(--highlight);
    text-align: center;
    font-size: 1.8rem;
}

.soon {
    margin: 5rem;
    font-size: 3rem;
    text-align: center;
}