@import '../../styles/variables.scss';

/*=======================*\
    #Resume
\*=======================*/

.resume {
    &__title {
        margin: 2rem 0 0;
        padding: 0.4rem 0;
        border-bottom: 1px solid var(--primary);

        color: var(--highlight);
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    /*-----------------------*\
        #Header
    \*-----------------------*/

    &__header {
        display: flex;
        align-items: center;

        padding-top: 2rem;

        @media (max-width: 40rem) {
            flex-direction: column;
        }
    }

    &__info {
        flex-grow: 2;

        @media (max-width: 40rem) {
            margin-bottom: 2rem;
            align-self: stretch;
        }
    }

    &__header-name {
        font-size: 3.3rem;
        position: relative;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.19);

        &:after {
            content: '';
            background-color: var(--highlight);
            width: 100%;
            height: 28%;
            z-index: -5;

            position: absolute;
            left: -3%;
            bottom: 12%;
        }
    }

    /*-----------------------*\
        #Download Button
    \*-----------------------*/

    &__btn-holder {
        display: flex;
        justify-content: center;
        margin: 5rem 0 5rem;
    }

    &__download {
        display: inline-block;
        font-size: 2rem;

        color: var(--white);
        background-color: var(--highlight);

        &:hover {
            color: var(--white);
            background-color: var(--highlight);
            transform: scale(1.05);
        }
    }

    /*-----------------------*\
        #Resume list
    \*-----------------------*/

    &__list {
    }
}
