@import "../../styles/variables.scss";


.title {
    margin: 1rem 0;
    padding: 0.4rem 0;
    border-bottom: 1px solid var(--primary);

    text-align: center;
    font-size: 1.8rem;
}

/* Download Button */
.resume {

    &__btn-holder {
        display: flex;
        justify-content: center;
        margin: 5rem 0 4rem;
    }

    &__download {
        display: inline-block;
        font-size: 2rem;
    }
}