/*========================*\
    #Work Experience
\*========================*/

.workexp {
    max-width: 900px;
    margin: 0 auto;

    @media (width <= 1000px) {
        width: 90%;
    }
}

.job {
    margin: 1.5rem 0;
}

/*------------------------*\
    #Header
\*------------------------*/

.header {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1rem;
}

.img {
    display: block;

    border-radius: 4px;
    border: 1px solid var(--primary);

    flex: 0;
}

/*-------------------------*\
    #Body
\*-------------------------*/

.company {
    font-weight: bold;
    font-size: 1.3rem;
}
.position {
    font-weight: normal;
}
.date {
    font-style: italic;
    font-size: 0.9rem;
    font-weight: normal;
}

.details {
    margin: 0;

    & > li {
        margin: 0.3rem 0;
    }
}
