/*=======================*\
    #Work Experience
\*=======================*/

.exp {
    margin-bottom: 2rem;
    /* padding-top: 2rem; */

    /*-----------------------------*\
        #Header
    \*-----------------------------*/

    &__header {
        display: flex;
        align-items: center;

        padding: 0.8rem;
        margin-bottom: 0.8rem;
        border-radius: 4px;

        background-color: #fff;
    }

    &__img {
        display: block;
        margin-right: 0.6rem;

        border-radius: 4px;

        flex: 0;
        width: 30%;
        max-width: 100px;
    }

    &__title {
    }

    /*-----------------------------*\
        #Body
    \*-----------------------------*/

    &__company {
        font-weight: bold;
        font-size: 1.3rem;
    }
    &__position {
        font-weight: normal;
    }

    &__date {
        font-style: italic;
        font-size: 0.9rem;
        font-weight: normal;
    }

    &__details {
        margin: 0;
    }
}
