/*=======================*\
    #Header
\*=======================*/

.header {
    padding: 2rem 0;

    display: grid;
    grid: 1fr 1fr / minmax(auto, 200px) 1fr 1fr;
    grid-template-areas:
        "pic name social"
        "pic contact contact";
    gap: 0.8rem;

    @media (max-width: 900px) {
        max-width: 100%;
    }
}

.headshot {
    border-radius: 6px;

    display: block;
    width: 100%;

    grid-area: pic;
    justify-self: center;
    align-self: center;
}

.myName {
    grid-area: name;
    align-self: self-end;

    font-size: 3.5rem;
    margin-left: 0.8rem;
}

/*=======================*\
    #Social
\*=======================*/

.social {
    grid-area: social;

    display: flex;
    justify-content: flex-end;
    align-self: end;
    gap: 0.5rem;
}

.socialItem {
    margin: 0;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;

    font-size: 1.8rem;
    color: var(--grayscale-0);
    transition: background-color 200ms ease-out;

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: var(--primary);
    }
}

/*=======================*\
    #Contact
\*=======================*/

.contact {
    grid-area: contact;

    display: flex;
    justify-content: space-between;
    align-self: start;

    padding: 0.2rem 0.3rem;
    background-color: var(--primary);
    border-radius: 4px;
    font-size: 0.9rem;
}

.contactItem {
    padding: 0.4rem 1rem;
}
