/*=======================*\
    #NavBar
\*=======================*/

.navbar {
    display: flex;

    padding: 0;
    margin: 0;

    background-color: var(--primary);
    list-style-type: none;

    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;

    &__icon {
        margin: 0 0.3rem;
    }

    &__item {
        margin: 0 0.4rem;
        padding: 1rem 1.3rem;
        border-bottom: 5px solid transparent;

        transition:
            background-color 0.2s ease-out,
            border-bottom 0.2s ease-out;

        &:hover {
            background-color: var(--secondary);
            border-bottom: 5px solid var(--white);
        }
    }
}
