@import "../../styles/variables.scss";


/*======================*\
    #Projects
\*======================*/

.project-list {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    width: 95%;
    max-width: 1200px;
}



.project {
    width: 100%;
    margin: 0;
    padding: 11rem 1rem;

    & + & {
        border-top: 1px solid var(--primary);
    }



    &__title {
        font-size: 2rem;
    }


    &__thumbnail {
        width: 30%;
    }

    &__img-container {
        display: flex;
        align-items: center;

        user-select: none;
        overflow-y: hidden;
        overflow-x: auto;
        padding: 1rem 1.6rem;
        margin: 0.5rem 0;
        list-style-type: none;
        background-color: var(--secondary);
    }

    &__img {
        margin: 0 2.3rem;
        height: 300px;
    }
}