/*========================*\
    #Modal
\*========================*/

.project-modal {
    display: none;
    position: fixed;
    z-index: 15;
    width: 100vw;
    height: 100vh;

    /*------------------------*\
        #Modal States
    \*------------------------*/

    &--shown {
        display: block;
    }

    &--hidden {
        display: none;
    }

    /*------------------------*\
        #Overlay
    \*------------------------*/

    &__overlay {
        position: absolute;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100vw;
        height: 100vh;
    }

    /*------------------------*\
        #Content
    \*------------------------*/

    &__content {
        /* Center  Model Content in the screen */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        /* Style the look of modal window */
        width: 90%;
        color: #000;
        background-color: #fbfbfb;
        border-radius: 4px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 2rem;
        padding: 0.3rem 0.4rem;

        width: 100%;
        position: absolute;
        transform: translateY(-100%);
        color: #fbfbfb;
    }
    &__close {
        cursor: pointer;

        &:hover {
            color: #c8c8c8;
        }
    }

    &__carousel {
    }
}
